

<div class="hr-navigation">
    <img src="./assets/ico/Avocado-ico.png" alt="" height="50">
    <a href="#" class="hr-text">Av</a>
    
    <div class="hr-search">
        <input type="text" name="search" id="Search">
        <button class="btn btn-primary hr-btn ">Search</button>
    </div>

    <div>
        <button class="btn btn-primary hr-btn " (click)="modal.changeStatusModal()">LogIn</button>
        <app-inmodal [title]="'Iniciar Sesion'" #modal>
            
        </app-inmodal>
        <button class="btn btn-primary hr-btn" (click)="modal2.changeStatusModal()">SignUp</button>
        <app-regmodal [title]="'Registrarse'" #modal2>

        </app-regmodal>
    </div>
    
</div>
