
.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.5);
    padding:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 99999;
   

}

.modal-content{
    width:100%;
    max-width: 500px;

}
.modal-header{
    height:93px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    background:rgb(255, 255, 255);
    
}

svg{
    height:45px;
    width:45px;
    position: relative;
    left:15%;
    bottom:30%;
    

}

svg:hover{
    cursor: pointer;
    opacity: 0.80;
}

.modal-title{
    font-size: 30px;
    font-weight: 500;
    padding-left: 40px;
    color: rgb(0, 0, 0);
    align-items: center;
    


}

.modal-container{
    padding:32px;
    background: white;
    border-radius: 0;
}